<section class="register">

  <form (ngSubmit)="register()">


    <div class="field">
      <h1>TICKET TRACKER</h1>
      <div class="field-body">
        <div class="field">
          <p class="control">
            <input name="e-mail" type="text" class="input" placeholder="E-MAIL" [(ngModel)]="mailadress">
          </p>
        </div>
      </div>
    </div>


    <div class="field">
      <div class="field-body">
        <div class="field">
          <p class="control">
            <input type="text" name="username" class="input" placeholder="USERNAME" [(ngModel)]="username">
          </p>
        </div>
      </div>
    </div>



    <div class="field">
      <p class="control">
        <input type="password" name="password" class="input" placeholder="PASSWORD" [(ngModel)]="password">
      </p>
    </div>


    <div class="field">
      <p class="control">
        <input type="password" name="confirm password" class="input" placeholder="CONFIRM PASSWORD"
          [(ngModel)]="passwordConfirm">
      </p>
    </div>

    <div class="field">
      <button class="button">Sign Up</button>
    </div>






  </form>

</section>