h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 50px;
    text-align: center;
    color: black;
    line-height: 2;
    letter-spacing: 15px;
    
    
}

.tracking{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items:center;
    background: linear-gradient(75deg,rgb(223, 10, 74),rgb(90, 43, 43));

}

.input{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(211, 206, 206);

    
    
}


.button{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    justify-content: center;
    align-items:center;
    width:-webkit-fill-available ;
    text-transform: uppercase;
    position: relative;
    top: 11px;

    
    
    background-color: rgb(211, 206, 206);

}
button:hover {
    background: #333;
    border: 2px solid #333;
    color: #fff;
  }

  .checkbox{
      font-weight: bold;
      font-family: inherit;
      color: black;
  }

  .text{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    font-weight: lighter;
    margin-bottom: inherit;     
}

#prize {
    position: relative;
    top: 11px;
}
