<section class="tracking">

  <form>


    <div class="field">
      <h1>YOUR TRAIN</h1>
      <div class="field-body">
        <div class="field">
          <p class="control">
            <input name="stationOne" autocomplete="off" (click)="toggleDropDown()" type="text" class="input"
              placeholder="From" [(ngModel)]="stationOne">
          </p>
          <div class="state-container-dropdown" *ngIf="showDropDown">
            <div>
              <div (click)="selectStation(s)" class="stations" *ngFor="let s of stations">
                {{s}}

              </div>
            </div>

          </div>
        </div>
      </div>
    </div>


    <div class="field">
      <div class="field-body">
        <div class="field">
          <p class="control">
            <input type="text" autocomplete="off" name="stationTwo" class="input" placeholder="To"
              [(ngModel)]="stationTwo">
          </p>
        </div>
      </div>
    </div>

    <div>
      <input name="checkBoxPrice" type="checkbox" [checked]="checkBoxPrice" (change)="checkBoxPrice=!checkBoxPrice"
        class="checkbox">
      <span class="text"> ENABLE CUSTOM PRIZE
      </span>
    </div>

    <div class="field">
      <div class="field-body">
        <div class="field">
          <p class="control">
            <input [disabled]=!checkBoxPrice type="number" name="price" class="input" id="prize"
              placeholder="Custom Price (optional)" [(ngModel)]="customPrize">
          </p>
        </div>
      </div>
    </div>




    <div class="field">
      <button class="button" (click)="tracking($event)">Track</button>
    </div>



  </form>

</section>

<script src="mainpage.component.ts"></script>